table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table {
    width:1154px;
}

tr:nth-child(even) {
    background-color: #D6EEEE;
}
.buttons{
    align-items: right;
}
tfoot{
    background-color: rgb(92, 92, 148);
}