html {
  height: 100vh;
  width: 100vw;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}
